@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary-color: #c83067;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --gray-200: #e5e7eb;
  --gray-600: #424750;
  --pink-light: #feeff4;
  --pink-pastel: #f77ca3;
  --pink-bg: #ffe0ec;
  --purple-light: #efd8f5;
  --purple-main: #ca00ff;
  --purple-shadow: #f3c3fc;
  --blue-light: #c8efff;
  --blue-main: #00b7ff;
  --blue-shadow: #a5d7ec;
  --green-light: #d4fade;
  --green-main: #008c25;
  --green-shadow: #a9eab8;
  --yellow-light: #fff1c6;
  --yellow-shadow: #ffd278;
  --mint-light: #e3f7dd;
  --sky-light: #e0f2ff;
  --fs-xs: 9px;
  --fs-sm: 11px;
  --fs-base: 13px;
  --fs-lg: 16px;
  --fs-xl: 19px;
  --fs-2xl: 22px;
  --fs-3xl: 20px;
  --fs-4xl: 28px;
  --fs-5xl: 30px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --color-primary-white: var(--primary-white);
  --color-primary-black: var(--primary-black);
  --color-gray-200: var(--gray-200);
  --color-gray-600: var(--gray-600);
  --color-pink-light: var(--pink-light);
  --color-pink-pastel: var(--pink-pastel);
  --color-pink-bg: var(--pink-bg);
  --color-purple-main: var(--purple-main);
  --color-purple-light: var(--purple-light);
  --color-purple-shadow: var(--purple-shadow);
  --color-blue-light: var(--blue-light);
  --color-blue-shadow: var(--blue-shadow);
  --color-blue-main: var(--blue-main);
  --color-green-light: var(--green-light);
  --color-green-shadow: var(--green-shadow);
  --color-green-main: var(--green-main);
  --color-yellow-light: var(--yellow-light);
  --color-yellow-shadow: var(--yellow-shadow);
  --color-mint-light: var(--mint-light);
  --color-sky-light: var(--sky-light);
  --font-sans: var(--font-dana);
  --font-mono: var(--font-geist-mono);
  --font-dana: var(--font-dana);
  --font-size-xs-c: var(--fs-xs);
  --font-size-sm-c: var(--fs-sm);
  --font-size-base-c: var(--fs-base);
  --font-size-lg-c: var(--fs-lg);
  --font-size-xl-c: var(--fs-xl);
  --font-size-2xl-c: var(--fs-2xl);
  --font-size-3xl-c: var(--fs-3xl);
  --font-size-4xl-c: var(--fs-4xl);
  --font-size-5xl-c: var(--fs-5xl);
  --shadow-primary-pink: 4px 12px 32px 0 rgba(177, 94, 114, 0.7);
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  max-width: 2000px;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dana), Arial, Helvetica, sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}

@media (min-width: 640px) {
  :root {
    --fs-xs: 10px;
    --fs-sm: 12px;
    --fs-base: 14px;
    --fs-lg: 18px;
    --fs-xl: 21px;
    --fs-2xl: 25px;
    --fs-3xl: 26px;
    --fs-4xl: 40px;
    --fs-5xl: 48px;
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-base: 20px;
    --fs-lg: 24px;
    --fs-xl: 28px;
    --fs-2xl: 32px;
    --fs-3xl: 36px;
    --fs-4xl: 48px;
    --fs-5xl: 56px;
  }
}

.text-xs-c {
  font-size: var(--fs-xs);
}
.text-sm-c {
  font-size: var(--fs-sm);
}
.text-base-c {
  font-size: var(--fs-base);
}
.text-lg-c {
  font-size: var(--fs-lg);
}
.text-xl-c {
  font-size: var(--fs-xl);
}
.text-2xl-c {
  font-size: var(--fs-2xl);
}
.text-3xl-c {
  font-size: var(--fs-3xl);
}
.text-4xl-c {
  font-size: var(--fs-4xl);
}
.text-5xl-c {
  font-size: var(--fs-5xl);
}

.health-section-gradient {
  background: linear-gradient(180deg, #ffebf1 0%, #ffffff 100%);
}

@media (min-width: 1024px) {
  .health-section-gradient {
    background: linear-gradient(270deg, #ffebf1 0%, #ffffff 100%);
  }
}

.circle-bg::after {
  content: "";
  position: absolute;
  top: -11%;
  width: 100%;
  height: auto;
  border-radius: 50%;
  z-index: 0;
  aspect-ratio: 1 / 1;
}

#elham .circle-bg::after {
  left: -14%;
  background-color: var(--color-blue-light);
}

#soheil .circle-bg::after {
  left: 14%;
  background-color: var(--color-purple-light);
}

#nadia .circle-bg::after {
  left: 14%;
  background-color: var(--color-green-light);
}
