@import "tailwindcss";

:root {
  /* Base Colors */
  --background: #ffffff;
  --foreground: #000000;

  --primary-color: #c83067;
  --primary-white: #ffffff;
  --primary-black: #000000;

  /* Grays */
  --gray-200: #e5e7eb;
  --gray-600: #424750;

  /* Pastel Palette */
  --pink-light: #feeff4;
  --pink-pastel: #f77ca3;
  --pink-bg: #ffe0ec;

  --purple-light: #efd8f5;
  --purple-shadow: #f3c3fc;

  --blue-light: #c8efff;
  --blue-shadow: #a5d7ec;

  --green-light: #d4fade;
  --green-shadow: #a9eab8;

  --yellow-light: #fff1c6;
  --yellow-shadow: #ffd278;

  --mint-light: #e3f7dd;
  --sky-light: #e0f2ff;

  /* Mobile Font Sizes */
  --fs-xs: 11px;
  --fs-sm: 13px;
  --fs-base: 16px;
  --fs-lg: 19px;
  --fs-xl: 22px;
  --fs-2xl: 26px;
  --fs-3xl: 30px;
  --fs-4xl: 40px;
  --fs-5xl: 48px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dana);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dana), Arial, Helvetica, sans-serif;
}

/* Tablet */
@media (min-width: 640px) {
  :root {
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-base: 18px;
    --fs-lg: 21px;
    --fs-xl: 25px;
    --fs-2xl: 29px;
    --fs-3xl: 33px;
    --fs-4xl: 44px;
    --fs-5xl: 52px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  :root {
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-base: 20px;
    --fs-lg: 24px;
    --fs-xl: 28px;
    --fs-2xl: 32px;
    --fs-3xl: 36px;
    --fs-4xl: 48px;
    --fs-5xl: 56px;
  }
}

.text-xs-c {
  font-size: var(--fs-xs);
}
.text-sm-c {
  font-size: var(--fs-sm);
}
.text-base-c {
  font-size: var(--fs-base);
}
.text-lg-c {
  font-size: var(--fs-lg);
}
.text-xl-c {
  font-size: var(--fs-xl);
}
.text-2xl-c {
  font-size: var(--fs-2xl);
}
.text-3xl-c {
  font-size: var(--fs-3xl);
}
.text-4xl-c {
  font-size: var(--fs-4xl);
}
.text-5xl-c {
  font-size: var(--fs-5xl);
}
